header {
    width: 100%;
    height: 100%;
}

body {
    height: auto;
    /* background-image: url("../img/fundo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.container-conteudos {
    /* background-color: #f00606; */
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.TITULO-POSICOES {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personagens {
    /* background-color: rgb(78, 185, 185); */
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;

}

.cards-personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.807);
    cursor: pointer;
}

.p-nome {
    width: 2rem;
    height: 2rem;
}

.cards-personagens img {
    border-radius: 80%;
}

@media (max-width:640px) {
    .container-personagens {
        grid-template-columns: repeat(1, 1fr);

    }

    .footer-components {
        font-size: 100rem;
    }

    .cards-personagens img {
        width: 100%;
        height: 100%;
    }

}

@media (max-width:740px) {
    .personagens {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }

}