body{
    background-image: url("../img/fundo.jpg");
}
.container-posicoes{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-mapas{
   width: 100%;
   height: 100%;
   
}
.card-mapas img{
    width: 90%;
    height: 90%;  
}

@media (max-width:640px) {
    .card-mapas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        gap: 3%;   
    }

}